@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: "Vazir";
        src:local("Vazir"), url("../fonts/vazir/Vazir.ttf") format("truetype");
        font-display: swap;
    }
    @font-face {
        font-family: "Pattaya-Regular";
        src:local("Pattaya-Regular"), url("../fonts/pattaya/Pattaya-Regular.ttf") format("truetype");
        font-display: swap;
    }
}

@layer components{
    header{
        background:linear-gradient(rgba(13, 12, 12, 0.5), rgba(13, 12, 12, 0.5)),url("/public/images/header-min.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
        background-attachment: fixed;
        position: relative;
        background-position: center;
    }
    .nav--active{
        @apply p-5 bg-white;
    }
    .details,.comments{
        background:linear-gradient(rgba(13, 12, 12, 0.5), rgba(13, 12, 12, 0.5)),url("/public/images/cropped-client-min.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 50rem;
        width: 100%;
        background-attachment: fixed;
        position: relative;
        background-position: center;
    }
    .comments{
        height: auto;
    }
    .swiper{
        @apply w-[85%] mt-[2rem] mb-[2rem];
    }
    .swiper-pagination-bullet{
        @apply w-3 h-[3px] rounded-sm bg-white;
    }
    .swiper-pagination-bullet-active{
        @apply bg-pink w-5
    }
    textarea{
        resize: none;
    }
    .contact{
        background: url("/public/images/contact.jpg");   
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        z-index: 1;
    }
    .contact::after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: #9C27B0;
        opacity: 0.9;
        z-index: -1;
    }
}